/* SHOW PLACES */
.show_place_img {
    height: 454px;
}

.post_user_img {
    height: 70px !important;
    width: 75px;
}

.post_user_details {
    line-height: 6px;
    margin-top: 18px;
}